/* Styles For SLider */

.slider{
    position: relative;
    overflow: hidden;
}

.my-slider .slider-content{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.my-slider .slider-content img{
    width: 100%;
    display: block;
    height: auto;
}

.slider-content .slider-desc{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    z-index: 4;
    max-width: 650px;
    height: 250px;
    background-color: rgba(153, 0, 102, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-content .slider-desc h1{
    color: #ffffff;
    font-size: 50px;
    padding: 20px 20px; 
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 5px black;
}
.slider-btn{
    width: 50px;
    height: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #FF6600;
    position: absolute;
    top:50%
}

.slider-btn:hover{
    background-color: #FF9900;
}

.prev-btn{
    left: 5%;
}

.next-btn{
    right: 5%;
}



/* Responsive */

@media only screen and (max-width:992px){
    .slider-content .slider-desc{
        top: 40%;
        left: 30%;
        transform: translate(-30%, -40%);
        max-width: 550px;
        height: 200px;
        
    }
    .slider-content .slider-desc h1{
        font-size: 40px;
        padding: 20px 20px; 
    }
}

@media only screen and (max-width:768px){
    .slider-content .slider-desc{
        top: 25%;
        left: 40%;
        transform: translate(-40%, -25%);
        max-width: 450px;
        height: 150px;
    }
    
    .slider-content .slider-desc h1{
        font-size: 30px;
        padding: 5px 10px; 
    }
    .slider-btn{
        top: 35%;
    }
}

@media only screen and (max-width:576px){
    
    .slider-content .slider-desc{
        top: 20%;
        left: 40%;
        transform: translate(-40%, -20%);
        max-width: 400px;
        height: 100px;
    }
    .slider-content .slider-desc h1{
        font-size: 16px;
        padding: 10px 10px; 
    }
    .slider-btn{
        top: 25%;
        width: 20px;
        height: 25px;
    }
}